body {
	background-color: #000000;
}

.main img {
	height: 15%;
	width: 15%;
}

/* Add a black background color to the top navigation */
.sidenav {
 height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Style the links inside the navigator bar */
.sidenav a {
	 padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #0ddbf2;
    display: block;
    transition: 0.3s;
}

/* Change the color of the links on hover */ 
.sidenav a:hover {
	background-color: #0ddbf2;
	color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
	background-color:none;
}

.main {
    transition: margin-left .5s;
    padding: 16px;

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
	text-align: center;
}

