/* View Teachers */
 
#teachers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
 
#teachers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
 
#teachers tr:nth-child(even){
  background-color: #f2f2f2;
}
 
#teachers tr:nth-child(odd){
  background-color: #ddd;
}
 
#teachers tr:hover {
  background-color: #5292b2;
}
 
#teachers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #1babcf;
    color: white;
}