/* Color scheme
#6dc5d6: Standard blue
#59f0ff: Standard light blue
#017f96: Standard dark blue

#677b7c: Standard gray
#a3acba: Standard light gray
*/

.padding {
	margin-top: 30px;
}

.col-xl-9.col-lg-9.bg-black.d-none.d-lg-block
{
	padding-top: 10px;
	opacity: 0.9;
	background-color: #eff5ff;
	
}

.two
{
	height: 300px;
}

/*Map */
path
{
	fill: #677b7c/* Grey */;
	opacity: 0.9;
	transition: 0.3s;

}

.C.Hallway:hover
{
	cursor: pointer;
	fill:#59f0ff /*Light blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.S.Hallway:hover
{
	cursor: pointer;
	fill: #8fd2d8/*Sea blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.English.Hallway:hover
{
	cursor: pointer;
	fill:#5fb7bf/*Dark grey-blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.French.Hallway:hover
{
	cursor: pointer;
	fill:#2ad1e0/*Neon blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Gym.Hallway:hover
{
	cursor: pointer;
	fill:#33a1e0/*Sky blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Front.foyer:hover
{
	cursor: pointer;
	fill:#246c96/*Navy blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Music.Hallway:hover
{
	cursor: pointer;
	fill:#2cb7a2/*Cyan blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Science.Hallway:hover
{
	cursor: pointer;
	fill:#ffb093/*Peach*/;
	transition-delay:0.01s;
}

.Math.Hallway:hover
{
	cursor: pointer;
	fill:#7564c4/*Purple blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Science.Hallway:hover
{
	cursor: pointer;
	fill:#bfc6ff/*Lavender blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Geography.Hallway:hover
{
	cursor: pointer;
	fill:#1637ba /*Dark blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.border
{
    border: 3px solid #44442d;
	border-radius: 5px;
    padding: 5px;
}

/*End of Map */

#placeholderParagraph
{
	display: block;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
	text-shadow: 2px 2px #017f96;
    font-weight: bold;
	font-family: 'Playfair Display', serif;
	color: white;
}

body {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
	color:

}
nav {
	text-align:center;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
	background:none;
}

/* Navigation */
.nav {
	position: relative;
	top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
.nav-header a
{
	color:white;
	text-shadow: 1px 2px #017f96;/* Standard dark blue */
	font-weight: 700;
	font-family: 'Playfair Display', serif;
}
.nav-item a
{
	color: #6dc5d6;/* Standard dark blue */
	font-weight: 500;
	font-family: 'Playfair Display', serif;
}

.nav-item a:hover
{
	color: #59f0ff;/* Standard light blue */
	font-weight: 700;
	font-family: 'Playfair Display', serif;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    overflow-x: hidden; /* Disable horizontal scroll */
	background-color: white;
	opacity: 0.9;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
	font-family: 'Playfair Display', serif;
    color: #677b7c;
    display: block;
	text-shadow: 0.5px 0.5px #017f96;
    transition: 0.3s;
	opacity: 0.9;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: #6dc5d6;
	transition: 0.5s;
	text-shadow: 0.5px 0.5px #017f96;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.logo{
	font-size:15px;
	cursor:pointer;
	height: 75px;
	width: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


#nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #6dc5d6;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Website theme */
.container
{
	padding-left: 20px;
    font-size: 18px;
	font-family: 'Playfair Display', serif;
    color: #677b7c/* Grey */;
    display: block;
	text-shadow: 0.5px 0.5px #017f96;
	margin-left: 32px;
	position: relative;
	cursor: pointer;

}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #677b7c/* Grey */;
  border-radius: 20%;
}

.container:hover input ~ .checkmark {
  background-color: #a3acba;/*Standard Light gray */
}

.container input:checked ~ .checkmark {
  background-color: #6dc5d6;/* Standard blue */
}

#theme
{
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
	font-family: 'Playfair Display', serif;
    color: #677b7c/* Grey */;
    display: block;
	text-shadow: 0.5px 0.5px #017f96;
}


/** yeet **/
.calendarContainer{
	margin: 20px;
}
.calendar_weekdays{
	color: #59f0ff;
}
.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
	font-family: 'Playfair Display', serif;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid white;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: white;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    border: 1px solid white;
}
.calendar_content div.selected {
    background-color: #59f0ff;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 18px;
    color: #59f0ff;
    float:left;
    width:70%;
    margin: 0 0 10px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #59f0ff;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month:hover {
    color: white;
}


	color: