.padding {
	margin-top: 200px;
}

path
{
	fill: #373d47/* Grey */;
	opacity: 0.6;
	transition: 0.3s;
}

.C.Hallway:hover
{
	cursor: pointer;
	fill:#59f0ff /*Light blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.S.Hallway:hover
{
	cursor: pointer;
	fill: #8fd2d8/*Sea blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.English.Hallway:hover
{
	cursor: pointer;
	fill:#5fb7bf/*Dark grey-blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.French.Hallway:hover
{
	cursor: pointer;
	fill:#2ad1e0/*Neon blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Gym.Hallway:hover
{
	cursor: pointer;
	fill:#33a1e0/*Sky blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Front.foyer:hover
{
	cursor: pointer;
	fill:#246c96/*Navy blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Music.Hallway:hover
{
	cursor: pointer;
	fill:#2cb7a2/*Cyan blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Science.Hallway:hover
{
	cursor: pointer;
	fill:#ffb093/*Peach*/;
	transition-delay:0.01s;
}

.Math.Hallway:hover
{
	cursor: pointer;
	fill:#7564c4/*Purple blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Science.Hallway:hover
{
	cursor: pointer;
	fill:#bfc6ff/*Lavender blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.border
{
    border: 3px solid #44442d;
		border-radius: 5px;
    padding: 5px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #33a1e0/*Sky blue*/;
    color: white;
}

body {
	background-color: black;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.jumbotron {
   display: table-cell;
   vertical-align: middle;
	 background-color: black;
	 padding: 0;
}
/*
p
{
	text-align: center;
	border-style: solid;
    border-width: 1px;
	border-radius: 5px;
	position: absolute;
	width: 10%;
	padding:5px;
	bottom: 355px;
    left: 625px;
}
*/

ul {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
li {
	padding:0;
	margin:0;
}
nav {
	text-align:center;
	width:100%;
	position:relative;
	height:auto;
	overflow:hidden;
	background:none;
}

/*styling open close button*/
.button {
	display:inline;
	position:absolute;
	left:50px;
	top:50px;
	z-index:999;
	font-size:30px;
}
.button a {
	text-decoration:none;
}

.btn-open:after {
	color: #00a7ee;
	content: "\f0c9";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-open:hover:after {
	color:white;
}
.btn-close:after {
	color:#00a7ee;
	content:"\f00d";
	font-family:"FontAwesome";
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
	color: white;
}
/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:black;
	overflow:auto;
	z-index:99;
}
.wrap {
	color:#00a7ee;
	text-align:center;
	max-width:90%;
	margin:0 auto;
}
.wrap ul.wrap-nav {
	border-bottom:1px solid #575757;
	text-transform:capitalize;
	padding:150px 0px 100px;
}
.wrap ul.wrap-nav li {
	font-size:20px;
	display:inline-block;
	vertical-align:top;
	width:24%;
	position:relative;
}
.wrap ul.wrap-nav li a {
	color:#00a7ee;
	display:block;
	padding:8px 0;
	text-decoration:none;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
}
.wrap ul.wrap-nav li a:hover {
	color:white;
}
.wrap ul.wrap-nav ul {
	padding:20px 0;
}

@media screen and (max-width:48em) {
	.wrap ul.wrap-nav>li {
		width:100%;
		padding:20px 0;
		border-bottom:1px solid #575757;
	}
	.wrap ul.wrap-nav {
		padding:30px 0px 0px;
	}
}
