svg 
{ 
	height: 43vh; 
}
body
{
	background-color: #000000;
}
path
{
	fill: #6b767c/* Grey */;
	opacity: 0.6;
	transition: 0.3s;
}
	
.C.Hallway:hover
{
	cursor: pointer;
	fill:#59f0ff /*Light blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Geography.Hallway:hover
{
	cursor: pointer;
	fill:#1637ba /*Dark blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.S.Hallway:hover
{
	cursor: pointer;
	fill: #8fd2d8/*Sea blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.English.Hallway:hover
{
	cursor: pointer;
	fill:#5fb7bf/*Dark grey-blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.French.Hallway:hover
{
	cursor: pointer;
	fill:#2ad1e0/*Neon blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Gym.Hallway:hover
{
	cursor: pointer;
	fill:#33a1e0/*Sky blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Front.foyer:hover
{
	cursor: pointer;
	fill:#246c96/*Navy blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Music.Hallway:hover
{
	cursor: pointer;
	fill:#2cb7a2/*Cyan blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.mapContainer
{
    float: left;
    width: 68%;
    border: 3px solid white;
	border-radius: 5px;
    padding: 5px;
}

.Science.Hallway:hover
{
	cursor: pointer;
	fill:#ffb093/*Peach*/;
	transition-delay:0.01s;
}

.Math.Hallway:hover
{
	cursor: pointer;
	fill:#7564c4/*Purple blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

.Science.Hallway:hover
{
	cursor: pointer;
	fill:#bfc6ff/*Lavender blue*/;
	transition-delay:0.01s;
	opacity: 1;
}

#placeholderParagraph
{
	background-color: #00a7ee;
	opacity:0.8;
	margin-left:30%;
	margin-right:60%;
	float:left;
	text-align: center;
	color: white;
	border: 3px solid white;
}
.vertical-menu 
{
    width: 25%;
	border: 3px solid white;	
	float: right;	
}

.vertical-menu a {

    background-color: #efefef;
    color: black;
    display: block;
    padding: 10px;
	margin: 2px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #dae2e5;
}

.vertical-menu a.active {
    background-color: #00a7ee;/*Sky blue*/;
    color: white;
}



