svg 
{ 
	height: 30vw; 
}

path
{
	fill: #373d47/* Grey */;
}
.C.Hallway:hover
{
	cursor: pointer;
	fill:#57a354/*Green*/;
	transition-delay:0.01s;
}

.S.Hallway:hover
{
	cursor: pointer;
	fill:#7c24a5/*Dark Purple*/;
	transition-delay:0.01s;
}

.English.Hallway:hover
{
	cursor: pointer;
	fill:#496fb2/*Sea blue*/;
	transition-delay:0.01s;
}

.French.Hallway:hover
{
	cursor: pointer;
	fill:#81e7f9/*Light blue*/;
	transition-delay:0.01s;
}

.Gym.Hallway:hover
{
	cursor: pointer;
	fill:#bf524a/*Maroon red*/;
	transition-delay:0.01s;
}

.Front.foyer:hover
{
	cursor: pointer;
	fill:#9b9934/*Gold*/;
	transition-delay:0.01s;
}

.Music.Hallway:hover
{
	cursor: pointer;
	fill:#fc8ada/*Pink*/;
	transition-delay:0.01s;
}

.firstFloor
{
    margin: auto;
    width: 45%;
    border: 3px solid #44442d;
    padding: 10px;
}

p
{
	text-align: center;
	border-style: solid;
    border-width: 1px;
	border-radius: 5px;
	margin:auto;
	margin-top:10px;
	width: 100px;
	padding:5px;
}

